@{
    ViewData["Title"] = "Home Page";
}


<main>
    <!-- Carusel -->
    <section id="carusel">
        <div class="owl-carusel-store owl-carousel owl-theme owl-dots.disabled carusel-owl">
            @await Component.InvokeAsync("Slider")
        </div>
    </section>
    <section id="product-category">
        <div class="container">
            <div class="row mt-5">
                <div class="col-xl-2 beverages-category">
                    <div class="card" style="width: 18rem;">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/baverages-1.jpg"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Beverages</h5>
                            <p class="card-text">11 items</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/biscuitssnacks-1.jpg"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Biscuits & Snacks</h5>
                                            <p class="card-text">3 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/breadbakery-1.jpg"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Bread & Bakery</h5>
                                            <p class="card-text">4 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/dairy-1.jpg"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Breakfast & Dairy</h5>
                                            <p class="card-text">7 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/category-image4.png"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Frozen Foods</h5>
                                            <p class="card-text">8 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/fruitvegetables-1.jpg"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Fruits & Vegetables</h5>
                                            <p class="card-text">9 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/category-image2.png"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Grocery & Staples</h5>
                                            <p class="card-text">5 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/household-1.jpg"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">Biscuits & Snacks</h5>
                                            <p class="card-text">12 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/meat-1.jpg"
                                             class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                Household Needs
                                            </h5>
                                            <p class="card-text">10 item</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Discounted Products -->
    <section id="discount-box">
        <div class="container mt-5">
            <div class="row">
                <!-- clock -->
                <div class="col-lg-5 clock-product-progress">
                    <a href="#">
                        <div class="clock clock-box"></div>
                        <div class="product-clock">
                            <p>Remains until the end of the offer</p>
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-50.jpg"
                                 alt="">
                            <div class="discount-product-percentage">19%</div>
                        </div>
                        <div class="progress-aviability">
                            <p class="discount-price"><span class="line-through">5.90$ </span> &nbsp; 4.70$</p>
                            <h4>Chobani Complete Vanilla Greek Yogurt</h4>
                            <p>
                                <span style="color: #8f95ac;">1kg </span><span style="color: green;">IN STOCK</span>
                            </p>
                            <p style="color: rgb(255, 187, 0)">
                                <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                            </p>
                            <p style="color:#8f95ac; margin-left: 80%;">
                                Aviable: <spann style="color:#233A95; font-weight: bold;">49</span>
                            </p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"
                                     style="width: 75%; background: linear-gradient(to right, red 0%, rgb(255, 196, 0) 100%); border-radius: 10px;"
                                     aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Product List Add To Card Hover-->
                <div class="col-lg-7 cards-box" style="margin-left: 6.7%;">
                    <div class="row" id="parent">
                        @await Component.InvokeAsync("Product")
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cookie and Ice Cream -->
    <section id="cookie-cream">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-cookie" style="margin-right: 1%;">
                    <a href="">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/slider-image-6.jpg" alt="">
                        <div class="cookie-text">
                            <h6>Weekend Discount 40%</h6>
                            <h4>Cookie and Ice Cream</h4>
                            <p>Bacola Weekend Discount</p>
                            <button>Shop Now</button>
                        </div>

                    </a>
                </div>
                <div class="col-lg-cookie col-lg-sweet">
                    <a href="">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-12.jpg"
                             alt="">
                        <div class="cookie-text">
                            <h6>Weekend Discount 40%</h6>
                            <h4>Cookie and Ice Cream</h4>
                            <p>Bacola Weekend Discount</p>
                            <button>Shop Now</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Carusel Card -->
    <section id="carusel-products">
        <div class="container mt-5">
            <div class="d-flex justify-content-between view-all">
                <div>
                    <h1>Best Sellers</h1>
                    <p>Do Not miss the current offers until end of exam</p>
                </div>
                <div>
                    <button><a href="#">View All <i class="fa-solid fa-right-long"></i></a></button>
                </div>
            </div>
            <div class="owl-carousel-cream owl-carousel owl-theme owl-dots.disabled">
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">18%</div>
                            <div class="yellow-card-recomended">Recomended</div>
                            <div class="heart-wide">
                                <div class="wider-screen">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </div>
                                <div class="heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-2-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">24%</div>
                            <div class="yellow-card-organic">Organic</div>
                            <div class="heart-wide">
                                <div class="wider-screen">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </div>
                                <div class="heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">18%</div>
                            <div class="heart-wide">
                                <div class="wider-screen">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </div>
                                <div class="heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-48-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">20%</div>
                            <div class="heart-wide">
                                <div class="wider-screen">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </div>
                                <div class="heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">20%</div>
                            <div class="heart-wide">
                                <div class="wider-screen">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </div>
                                <div class="heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-50-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">20%</div>
                        </div>
                    </a>
                </div>
                <div class="yellow-cards">
                    <a href="#">
                        <div class="yellow-card card" style="width: 16rem;">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-59-346x310.jpg"
                                 class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6>All Natural Italian-style Chicken Meatbalss</h6>
                                <p class="in-stock">In Stock</p>
                                <p class="star">
                                    <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><span class="gray-star"><i class="fa-solid fa-star"></i></span>
                                </p>
                                <a href="#" class="btn btn-primary yellow-btn">Go somewhere</a>
                            </div>
                            <div class="yellow-card-discount">20%</div>
                            <div class="heart-wide">
                                <div class="wider-screen">
                                    <i class="fa-solid fa-arrows-left-right"></i>
                                </div>
                                <div class="heart">
                                    <i class="fa-solid fa-heart"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- Cards boxes 5 products  -->
    <section id="cards-boxes-orange">
        <div class="container mt-5">
            <div class="save-card d-flex align-items-center justify-content-center">
                <h4>Save an extra 5 - 10% on autoship order</h4>
            </div>
            <div class="cards-box">
                <div class="row mt-5">
                    <div class="custom-col-lg-5">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-3-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-2-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5 d-lg-none d-xl-block">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-4-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5 d-lg-none d-xl-block">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-5-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="custom-col-lg-5">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-9-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-11-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5 d-lg-none d-xl-block">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-12-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="custom-col-lg-5 d-lg-none d-xl-block">
                        <a href="#">
                            <div class="card card-box" style="width: 16rem; height: 25rem;
                                    ">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-14-346x310.jpg"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h4 class="card-product-name">Zevia Kidz Lemonade drinks tasty</h4>
                                    <p class="green-stock">In Stock</p>
                                    <p class="card-star">
                                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                                    </p>
                                    <p class="discount-price"><span class="line-through">7.95</span>5.95</p>
                                </div>
                                <div class="add-card">
                                    <a href="#" class="btn btn-primary">Add Card</a>
                                </div>
                                <div class="heart-wide">
                                    <div class="wider-screen">
                                        <i class="fa-solid fa-arrows-left-right"></i>
                                    </div>
                                    <div class="heart">
                                        <i class="fa-solid fa-heart"></i>
                                    </div>
                                </div>
                                <div class="text-cards">
                                    <p>40$</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Pictures 6 Weekend Discount Offers -->
    <section id="weekend-discount-offers">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-4 pictures-6">
                    <a href="#">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-05.jpg"
                             alt="">
                        <div class="pictures-6-text">
                            <h4>Weekend Discount 20%</h4>
                            <h3>Natural Eggs</h3>
                            <p>Eat on every day</p>
                            <button>Shop Now</button>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 pictures-6">
                    <a href="#">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-06.jpg"
                             alt="">
                        <div class="pictures-6-text">
                            <h4>Weekend Discount 20%</h4>
                            <h3>Natural Eggs</h3>
                            <p>Eat on every day</p>
                            <button>Shop Now</button>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 pictures-6">
                    <a href="#">
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/bacola-banner-10.jpg"
                             alt="">
                        <div class="pictures-6-text">
                            <h4>Weekend Discount 20%</h4>
                            <h3>Natural Eggs</h3>
                            <p>Eat on every day</p>
                            <button>Shop Now</button>
                        </div>
                    </a>
                </div>


            </div>
            <div class="row mt-3">
                <div class="col-lg-4 pictures-6">
                    <div class="pictures-6-picture">
                        <a href="">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3-370x260.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="pictures-6-information">
                        <a href="">
                            <p>Tips & Tricks</p>
                            <h4>But I must explain to you how all this mistaken idea</h4>
                            <p>
                                3 May 2021 <span class="comment">3 comments </span> <span class="italic">by </span>
                                <span class="author"> Bacola</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 pictures-6">
                    <div class="pictures-6-picture">
                        <a href="">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5-370x260.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="pictures-6-information">
                        <a href="">
                            <p>Tips & Tricks</p>
                            <h4>But I must explain to you how all this mistaken idea</h4>
                            <p>
                                3 May 2021 <span class="comment">3 comments </span> <span class="italic">by </span>
                                <span class="author"> Bacola</span>
                            </p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 pictures-6">
                    <div class="pictures-6-picture">
                        <a href="">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1-370x260.jpg"
                                 alt="">
                        </a>
                    </div>
                    <div class="pictures-6-information">
                        <a href="">
                            <p>Tips & Tricks</p>
                            <h4>But I must explain to you how all this mistaken idea</h4>
                            <p>
                                3 May 2021 <span class="comment">3 comments </span> <span class="italic">by </span>
                                <span class="author"> Bacola</span>
                            </p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

