@model CategoryVM


@foreach (var category in Model.Categories)
{

    <li class="li-1">
        <a href="">
            <i class="@category.Icon"></i> @category.Name
            @if (category.SubCategories.Count() > 0) { 
            <i class="fas fa-chevron-circle-right"></i>
            }

            
        </a>
        <ul>
            @foreach (var subcategory in category.SubCategories)
            {
            <li><a href="">
                @subcategory.Name
                </a></li>
            }

            
        </ul>
    </li>
}


