<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/adminAssets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/adminAssets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/adminAssets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/adminAssets/vendors/jquery-bar-rating/css-stars.css" />
    <link rel="stylesheet" href="~/adminAssets/vendors/font-awesome/css/font-awesome.min.css" />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/adminAssets/css/demo_1/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/adminAssets/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <div class="row p-0 m-0 proBanner" id="proBanner">
            <div class="col-md-12 p-0 m-0">
                <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                    <div class="ps-lg-1">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                            <a href="https://www.bootstrapdash.com/product/plus-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=buynow_demo" target="_blank" class="btn me-2 buy-now-btn border-0">Get Pro</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="https://www.bootstrapdash.com/product/plus-admin-template/"><i class="mdi mdi-home me-3 text-white"></i></a>
                        <button id="bannerClose" class="btn border-0 p-0">
                            <i class="mdi mdi-close text-white me-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile border-bottom">
                    <a href="#" class="nav-link flex-column">
                        <div class="nav-profile-image">
                            <img src="~/adminAssets/images/faces/face1.jpg" alt="profile" />
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex ms-0 mb-3 flex-column">
                            <span class="font-weight-semibold mb-1 mt-2 text-center">Antonio Olson</span>
                            <span class="text-secondary icon-sm text-center">$3499.00</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item pt-3">
                    <a class="nav-link d-block" href="index.html">
                        <img class="sidebar-brand-logo" src="~/adminAssets/images/logo.svg" alt="" />
                        <img class="sidebar-brand-logomini" src="~/adminAssets/images/logo-mini.svg" alt="" />
                        <div class="small font-weight-light pt-1">Responsive Dashboard</div>
                    </a>
                    <form class="d-flex align-items-center" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control border-0" placeholder="Search" />
                        </div>
                    </form>
                </li>
                <li class="pt-2 pb-1">
                    <span class="nav-item-head">Template Pages</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="AdminArea" asp-controller="dashboard" asp-action="index">
                        <i class="mdi mdi-compass-outline menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        <span class="menu-title">UI Elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="pages/ui-features/typography.html">Typography</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/icons/mdi.html">
                        <i class="mdi mdi-contacts menu-icon"></i>
                        <span class="menu-title">Icons</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/forms/basic_elements.html">
                        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        <span class="menu-title">Forms</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="AdminArea" asp-controller="category" asp-action="index">
                        <i class="mdi mdi-chart-bar menu-icon"></i>
                        <span class="menu-title">Category</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/tables/basic-table.html">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Tables</span>
                    </a>
                </li>
                <li class="nav-item pt-3">
                    <a class="nav-link" href="http://bootstrapdash.com/demo/plus-free/documentation/documentation.html" target="_blank">
                        <i class="mdi mdi-file-document-box menu-icon"></i>
                        <span class="menu-title">Documentation</span>
                    </a>
                </li>
            </ul>
        </nav>
        @RenderBody()
    </div>
    <script src="~/adminAssets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/adminAssets/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
    <script src="~/adminAssets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/adminAssets/vendors/flot/jquery.flot.js"></script>
    <script src="~/adminAssets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="~/adminAssets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="~/adminAssets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="~/adminAssets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="~/adminAssets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/adminAssets/js/off-canvas.js"></script>
    <script src="~/adminAssets/js/hoverable-collapse.js"></script>
    <script src="~/adminAssets/js/misc.js"></script>
    <script src="~/adminAssets/js/settings.js"></script>
    <script src="~/adminAssets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/adminAssets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
</body>
</html>
